.foot{
    background: rgb(186, 211, 186);
    height: 80px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}


  .catalogo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  
  }